DJANGO_DEBUG="True"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"
DJANGO_SECRET_KEY="insecure-development-key"
DJANGO_STATIC_ROOT="./.dev-collected-staticfiles"
DJANGO_MEDIA_ROOT="./.dev-mediafiles"
DJANGO_SETTINGS_MODULE="config.settings"
# Django Cors
DJANGO_ALLOWED_ORIGINS="http://127.0.0.1"
DJANGO_ALLOWED_ORIGIN_REGEXES=""
DJANGO_CSRF_TRUSTED_ORIGINS="http://127.0.0.1"

POSTGRES_DATABASE_NAME="rush"
POSTGRES_DATABASE_USERNAME="rush_admin"
POSTGRES_DATABASE_PASSWORD="password"
POSTGRES_DATABASE_HOST="localhost"
POSTGRES_DATABASE_PORT="5432"

GDAL_LIBRARY_PATH="see_DEVELOPER_README"

DEPLOY_DOMAIN_NAME="127.0.0.1"
DEPLOY_LOGS_DIR="./.dev-deploy-logs"
DEPLOY_GITHUB_REPO="https://github.com/naturnd-rush/rush-cms-django.git"
DEPLOY_GITHUB_WEBHOOK_SECRET="fake-development-secret"
DEPLOY_GUNICORN_SOCKET_PATH="FAKE_PATH"
DEPLOY_NGINX_CONFIG_PATH="FAKE_PATH"
DEPLOY_NGINX_ENABLED_PATH="FAKE_PATH"

# Backblaze raster map layer storage config
BACKBLAZE_RASTER_APP_KEY_ID=""
BACKBLAZE_RASTER_APP_KEY=""
