.spinner {
  position: absolute;
  left: 68%;
  transform: translate(-50%, -50%) translateY(-300px);
  border: 8px solid #ccc;
  border-top: 8px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) translateY(-300px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) translateY(-300px) rotate(360deg);
  }
}

/* 
    Using top or margin-top to move the elment up moves the elements below the spinner in the dom, 
    which is noticable when the spinner is added and removed quickly... instead we can use translateY!
  */

.hidden {
  display: none;
}

/* Blur effect */
.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
  opacity: 1;
}

.leaflet-label {
  padding: 0;
  background-color: 'transparent';
  border: 'unset';
  box-shadow: 'unset';
  font-size: '1.0rem';
  opacity: '0.8 !important';
  color: 'white';
  font-weight: '700';
  font-family: 'Inter Variable', sans-serif;
  text-shadow: '-2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;';
}

.leaflet-label::before {
  display: 'none'
}