.spinner {
  position: absolute;
  left: 68%;
  transform: translate(-50%, -50%) translateY(-300px);
  border: 8px solid #ccc;
  border-top: 8px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) translateY(-300px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) translateY(-300px) rotate(360deg);
  }
}

/* 
    Using top or margin-top to move the elment up moves the elements below the spinner in the dom, 
    which is noticable when the spinner is added and removed quickly... instead we can use translateY!
  */

.hidden {
  display: none;
}

/* Blur effect */
.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
  opacity: 1;
}


/**
 * Styles for rendering text content in the leaflet popups!
 */

/* Global Variables */
.leaflet-popup-content body {
    --rush-text-color: rgb(26, 32, 44);
}

/* Default Text Color */
.leaflet-popup-content p, h1, h2, h3, h4, h5, h6, .rush-title, .rush-subtitle, .rush-hint {
    color: var(--rush-text-color)
}

/* Normal */
.leaflet-popup-content p {
    font-family: Bitter, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 0.875rem;
}

/* Title */
.leaflet-popup-content .rush-title {
    font-family: Figtree, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* Subtitle */
.leaflet-popup-content .rush-subtitle {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* Hint */
.leaflet-popup-content .rush-hint {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.leaflet-popup-content h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
    font-weight: 500;
}

/* poppins-latin-700-normal */
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-display: auto;
    font-weight: 700;
    src: url(/static/fonts/poppins_5.2.6_latin-700-normal.woff2) format('woff2'), url("/static/fonts/poppins_5.2.6_latin-700-normal.woff") format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* poppins-latin-500-normal */
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-display: auto;
    font-weight: 500;
    src: url(/static/fonts/poppins_5.2.6_latin-500-normal.woff2) format('woff2'), url("/static/fonts/poppins_5.2.6_latin-500-normal.woff") format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* bitter-latin-wght-normal */
@font-face {
    font-family: Bitter;
    font-style: normal;
    font-display: auto;
    font-weight: 100 900;
    src: url(/static/fonts/bitter_5.2.9_latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* bitter-latin-wght-italic */
@font-face {
    font-family: Bitter;
    font-style: italic;
    font-display: auto;
    font-weight: 100 900;
    src: url(/static/fonts/bitter_5.2.10_latin-wght-italic.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* urbanist-latin-wght-normal */
@font-face {
    font-family: Urbanist;
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(/static/fonts/urbanist_5.2.6_latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* figtree-latin-wght-normal */
@font-face {
    font-family: Figtree;
    font-style: normal;
    font-display: swap;
    font-weight: 300 900;
    src: url(/static/fonts/figtree_5.2.8_latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}