/* Tooltips */
.leaflet-tooltip.leaflet-label {
  padding: 0;
  background-color: transparent;
  border: unset;
  box-shadow: unset;
  font-size: 1.0rem;
  color: white;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;;
}
.leaflet-tooltip.leaflet-label::before {
  display: 'none'
}

/* Global Variables */
body {
    --rush-text-color: rgb(26, 32, 44);
}

/* Default Text Color */
p, h1, h2, h3, h4, h5, h6, .rush-title, .rush-subtitle, .rush-hint {
    color: var(--rush-text-color)
}

/* Normal */
p,
.leaflet-popup-content p {
    font-family: Bitter, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 0.875rem;
}

/* Title */
.rush-title,
.leaflet-popup-content .rush-title {
    font-family: Figtree, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* Subtitle */
.rush-subtitle,
.leaflet-popup-content .rush-subtitle {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* Hint */
.rush-hint,
.leaflet-popup-content .rush-hint {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
    font-weight: 500;
}
