{% extends "admin/base.html" %}

{% block title %}RUSH Administration{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <link rel="manifest" href="../static/site.webmanifest">
  <link rel="mask-icon" href="../static/safari-pinned-tab.svg" color="#31708e">
  <meta name="msapplication-TileColor" content="#31708e">
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">RUSH Admin</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
<style>
  :root {
    --secondary: #507d44 !important;
    --primary: #0b5135 !important;
    --link-fg: #0b5135 !important;
    --breadcrumbs-bg: #0b5135 !important;
    --default-button-bg: #cc6b27 !important;
    --accent: white !important;
  }
</style>
{% endblock %}

{% block nav-global %}{% endblock %}