{% extends "admin/base.html" %}

{% block title %}RUSH Administration{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ BASE_STATIC_URL }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ BASE_STATIC_URL }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ BASE_STATIC_URL }}/favicon-16x16.png">
  <link rel="manifest" href="{{ BASE_STATIC_URL }}/site.webmanifest">
  <link rel="mask-icon" href="{{ BASE_STATIC_URL }}/safari-pinned-tab.svg" color="#31708e">
  <meta name="msapplication-TileColor" content="#31708e">
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">RUSH Admin</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
<style>
  :root {
    --secondary: #507d44;
    --primary: #0b5135;
    --link-fg: #0b5135;
    --breadcrumbs-bg: #0b5135;
    --default-button-bg: #cc6b27;
    --accent: white;
  }
  .leaflet-popup-content *{
    all: revert;
  }
</style>
{% endblock %}

{% block nav-global %}{% endblock %}