{% load static %}
<div id="map-preview" style="height: {{height}}; margin-bottom: 1em;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        // Initialize map
        let map = L.map('map-preview').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Load initial GeoJSON
        let geojsonData = {{ geojson_data|safe }};
        let geoJsonLayer;
        if (geojsonData && geojsonData.type === "FeatureCollection") {
            geoJsonLayer = L.geoJSON(geojsonData).addTo(map);
            map.fitBounds(geoJsonLayer.getBounds());
        }

        // Monitor for live changes
        const geojsonInput = document.getElementById("{{change_element_id}}");
        if (geojsonInput) {
            geojsonInput.addEventListener('input', function () {
                let data = null;
                try {
                    data = JSON.parse(geojsonInput.value);
                } catch (e) {
                    console.warn("Invalid GeoJSON:", e);
                    data = JSON.parse("{\{\}}");
                }
                finally {
                    if (geoJsonLayer) {
                        map.removeLayer(geoJsonLayer);
                    }
                    geoJsonLayer = L.geoJSON(data).addTo(map);
                    map.fitBounds(geoJsonLayer.getBounds());
                }
            });
        }
});
</script>
