{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <!--
        Style editing / changeform template.
    -->
    <div id="injected-style-id" style="display:none;">{{ original.pk }}</div>
    <span id="injected-media-url" style="display:none;">{{ BASE_MEDIA_URL }}</span>
    <script type="module" src="{% static 'js/compiled/slider_textbox_input_sync.js' %}"></script>
    <script type="module" src="{% static 'js/compiled/style_preview.js' %}"></script>
{% endblock %}